<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<h2>{series.title}</h2>

<div>
	<div>{series.info}</div>
	<f:format.raw>{series.description}</f:format.raw>

	<f:for each="{series.books}" as="book">
		<div class="book">
			<div class="author"><f:for each="{book.author}" as="bookauthor" iteration="iteration">
				<f:link.action action="show" controller="Author" pluginName="author" pageUid="{settings.authorPageId}" arguments="{author: bookauthor}">
					{bookauthor.lastname},
					{bookauthor.firstname}</f:link.action>
				<f:if condition="{iteration.total} > 1">
					<f:if condition="{iteration.isLast}">
						<f:then> </f:then>
						<f:else>/</f:else>
					</f:if>
				</f:if>
			</f:for>
			</div>
			<h3><f:link.action action="show" controller="Book" pageUid="{settings.bookPageId}" arguments="{book: book}" pluginName="category">{book.title}</f:link.action></h3>
		</div>
	</f:for>
	<f:link.page pageUid="{settings.seriesPageId}" class="backlink"><f:translate id="backlink"/></f:link.page>
</div>

</html>
