<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:if condition="{books.0}">
	<f:then>
		<f:widget.paginate objects="{authors}" as="paginatedAuthors" configuration="{itemsPerPage: settings.limit}">Ergebnis Ihrer Suche:<br /><br />
			<div id="suche-ergebnis">
				<f:for each="{paginatedAuthors}" as="author">
					<li><f:link.action action="show" pageUid="{settings.authorPageId}" arguments="{author: author.uid}">{author.lastname}, {author.firstname}</f:link.action></li>
				</f:for>
			</div>
		</f:widget.paginate>
	</f:then>
	<f:else><f:translate id="no_result" arguments="{query: query}"/></f:else>
</f:if>

</html>