<h2>{author.firstname} {author.lastname}</h2>

<div>
	{author.description}

	<div>{author.firstname} {author.lastname} <f:translate key="released_at_rv"/></div>
	<f:for each="{author.books}" as="book">
		<div class="book">
			<div class="author"><f:for each="{book.author}" as="bookauthor" iteration="iteration">
				<f:link.action action="show" pageUid="{settings.authorPageId}" arguments="{author: bookauthor}">
					{bookauthor.lastname},
					{bookauthor.firstname}</f:link.action>
				<f:if condition="{iteration.total} > 1">
					<f:if condition="{iteration.isLast}">
						<f:then></f:then>
						<f:else>/</f:else>
					</f:if>
				</f:if>
			</f:for>
			</div>
			<h3><f:link.action action="show" controller="Book" pageUid="{settings.bookPageId}" arguments="{book: book}" pluginName="category">{book.title}</f:link.action></h3>
		</div>
	</f:for>
	<f:link.page pageUid="{settings.authorPageId}" class="backlink"><f:translate key="backlink"/></f:link.page>
</div>