{namespace sfb=Evoweb\SfBooks\ViewHelpers}
<f:widget.paginate objects="{books}" as="paginatedBook" configuration="{itemsPerPage: settings.limit}">
	<f:for each="{paginatedBook}" as="book">
		<f:for each="{book.author}" as="author">
			<f:link.action action="show" controller="author" pageUid="{settings.authorPageId}" arguments="{author: author.uid}">{author.lastname} {author.firstname}</f:link.action>
		</f:for>
		<h2>
			<f:link.action action="show" pageUid="{settings.bookPageId}" arguments="{book: book}">{book.title}</f:link.action>
		</h2>
		<div>{book.subtitle}</div>
	</f:for>
</f:widget.paginate>