{namespace sfb=Evoweb\SfBooks\ViewHelpers}

<f:if condition="{books.0}">
	<f:then>
		<sfb:widget.paginate objects="{books}" as="paginatedBooks" configuration="{itemsPerPage: settings.limit}">
			<f:for each="{paginatedBooks}" as="book">Ergebnis Ihrer Suche:<br /><br />
				<div class="neuigkeiten-buch">
					<f:for each="{book.author}" as="author">
							<div class="neuigkeiten-buch-autor"><f:link.action action="show" controller="Author" pageUid="{settings.authorPageId}" arguments="{author: author.uid}">{author.lastname} {author.firstname}</f:link.action></div>
					</f:for>
					<h2>
							<f:link.action action="show" pageUid="{settings.bookPageId}" arguments="{book: book}" pluginName="category">{book.title}</f:link.action>
					</h2>
					<div>{book.subtitle}</div>
				</div>
			</f:for>
		</sfb:widget.paginate>
	</f:then>
	<f:else><f:translate key="no_result" arguments="{query: query}"/></f:else>
</f:if>